<div class="list row">
  <div class="col-md-12">
    <h4>Keys List</h4>
    <div style="padding:5px">
      <a routerLink="/keys/add" class="btn btn-primary">Add</a>
    </div>
    <table class="table table-striped table-bordered">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">ITEM NAME</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">PRICE</th>
        <th scope="col">ACTION</th>
      </tr>
      <tbody>
        <tr *ngFor="let key of keys; let i = index">
          <td scope="row">{{ key.id }}</td>
          <td>{{ key.item_name }}</td>
          <td>{{ key.description }}</td>
          <td>{{ key.price }}</td>
          <td>
            <a class="btn btn-primary" routerLink="/keys/{{ key.id }}">
              Edit
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
